*{
    margin:0;

}


img{
    width:100%;
}


body{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    background-color:#363537ff;

}

.title{
    color: #2fbf71ff;
    font-family: Candara, Helvetica, Arial;
    font-size:400%;
    grid-column: 1/4;
    grid-row:1/2;
    text-align:left;

    padding-left:20px;
}

.tagline{

    color:#2fbf71ff;
    font-family: "Arial Narrow";
    font-size:150%;
    grid-column: 1/4;

    text-align:left;

    padding-bottom:5px;
    padding-left:20px;

    grid-row:2/3;
    font-style:italic;


}

.nav-button{
    background-color:#ed7d3aff;
    color:white;
    font-family: Candara, Helvetica, Arial;
    text-decoration:none;
    font-size:110%;
    margin:10px;
    text-align:center;
    padding: 5px;
    border-radius:25px;
    max-height:30px;
    width:300px;
    height:30px;
    border: solid 3px #ed7d3aff;
}

#nav-area{
    grid-column:1/2;
    grid-row:3/5;
    display:grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 4fr;
    margin-left:20px;
    margin-top:20px;
    position:absolute;
    padding-bottom:5px;

}

.main-pic-container{
    grid-column:1/4;
    grid-row:3/5;
    margin-right: 20px;
    margin-left:20px;
    margin-bottom:0;
    display:grid;
    grid-template-columns:1fr 1fr 1fr;

}

#main-pic{
    grid-column:1/4;
}




#current-button{
    border: solid 3px white;
    background-color:#ed7d3aff;
}

main{
    grid-column:1/4;
    grid-row:5/6;
    background-color:#2fbf71ff;
    color:white;
    font-family:Candara, Helvetica, Arial;
    padding:20px 50px 50px 50px;
    font-size:150%;
    margin:20px;
    border:white solid 2px;
}

.main-headline{
    text-align:center;
    padding-bottom:10px;
}

.main-p{
    font-size:100%;
}

#column1{
    grid-column:1/2;
    color:white;
    background-color:#ed7d3aff;
    font-family:Candara, Helvetica, Arial;
    margin-left:20px;
    margin-right:10px;

}

#column2{
    grid-column:2/3;
    color:white;
    background-color:#ed7d3aff;
    font-family:Candara, Helvetica, Arial;
    margin-left:10px;
    margin-right:10px;
}

#column3{
    grid-column:3/4;
    color:white;
    background-color:#ed7d3aff;
    font-family:Candara, Helvetica, Arial;
    margin-left:10px;
    margin-right:20px;
    
}

.column-heading{
    font-size:200%;
    padding:10px;
}

.column-text{
    padding-left:10px;
    padding-right:10px;
    padding-bottom:20px;
}

footer{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    background-color:#2fbf71ff;
    margin:20px;
    grid-column:1/4;
    color:#363537ff;
    font-family:Candara, Helvetica, Arial;
    padding:20px;
}

#resource-heading{
    color:#363537ff;
}

#resources{
    color:#363537ff;
    grid-column:1/2;
    display:grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;



}

#resources a{
    color:#363537ff;
    text-decoration-line:none;
    padding:5px;
    text-align:left;
}

#footer-links{
    grid-column:2/4;
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    text-align:left;
    font-size:150%;

}

#footer-links a{
    color:#363537ff;
    text-decoration-line:none;
}

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }

    .title{
        font-size:200%;
    }
    .nav-button{
    font-size:75%;
    margin:3px;
    text-align:center;
    padding: 2px;
    border-radius:15px;
    width:200px;
    height:20px;

    }

    #nav-area{

        margin-left:5px;
        margin-top:5px;

 
    
    }

    }

