*{
    margin:0;

}


img{
    width:100%;
}


body{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    background-color:#363537ff;

}

.title{
    color: #ed7d3aff;
    font-family: Candara, Helvetica, Arial;
    font-size:400%;
    grid-column: 1/4;

    text-align:left;

    padding-left:10px;
}

.tagline{

    color:#ed7d3aff;
    font-family: "Arial Narrow";
    font-size:200%;
    grid-column: 1/4;

    text-align:left;

    padding-bottom:5px;
    padding-left:10px;

    grid-row:1/2;
    font-style:italic;


}

.nav-button{
    background-color:#ef2d56ff;
    color:white;
    font-family: Candara, Helvetica, Arial;
    text-decoration:none;
    font-size:200%;
    margin:10px;
    text-align:center;
    padding: 10px;
    border-radius:25px;

}

#overlay{
    position:absolute;

}

#nav-area{
    grid-column:1/2;
    grid-row:1/3;
    display:grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin-left:40px;
    margin-top:40px;
    width:300px;
}

.main-pic{
    grid-column:1/4;
    grid-row:1/3;
    margin-right: 20px;
    margin-left:20px;
    position:relative;
}






#current-button{
    border: solid 3px white;
    background-color:#F4708C;
}

main{
    grid-column:1/4;
    background-color:#2fbf71ff;
    color:white;
    font-family:Candara, Helvetica, Arial;
    padding:20px 50px 50px 50px;
    font-size:150%;
    margin:20px;
    border:white solid 2px;
}

.main-headline{
    text-align:center;
    padding-bottom:10px;
}

.main-p{
    font-size:100%;
}

#column1{
    grid-column:1/2;
    color:white;
    background-color:#ed7d3aff;
    font-family:Candara, Helvetica, Arial;
    margin-left:20px;
    margin-right:10px;

}

#column2{
    grid-column:2/3;
    color:white;
    background-color:#C3E0A6;
    font-family:Candara, Helvetica, Arial;
    margin-left:10px;
    margin-right:10px;
}

#column3{
    grid-column:3/4;
    color:white;
    background-color:#ef2d56ff;
    font-family:Candara, Helvetica, Arial;
    margin-left:10px;
    margin-right:20px;
    
}

.column-heading{
    font-size:200%;
    padding:10px;
}

.column-text{
    padding-left:10px;
    padding-right:10px;
    padding-bottom:20px;
}

footer{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    background-color:#C3E0A6;
    margin:20px;
    grid-column:1/4;
    color:#363537ff;
    font-family:Candara, Helvetica, Arial;
    padding:20px;
}

#resource-heading{
    color:#363537ff;
}

#resources{
    grid-column:1/2;
    display:grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;

}

#footer-links{
    grid-column:2/4;
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    margin:20px;
    text-align:center;
    font-size:150%;
}



